extends base.pug
block content
  form(action='/user', method='POST', name='user')
    div.form-group      
      input.form-control(type='text', name='user', placeholder='Enter first name')
    button(type='submit').btn.btn-primary Submit

